# Python

In [1]:
print("Hello")

Hello

#variable declaration

# variable declaration

In [3]:
salary =100

In [5]:
print("Value",salary)

Value 100

In [6]:
print("Datatype",type(salary))

Datatype <class 'int'>

In [7]:
bonus=500.77
indicator= True
name='Steven'

In [8]:
print(type(name),type(bonus),type(indicator))

<class 'str'> <class 'float'> <class 'bool'>

# operation on variables

In [9]:
num1=10
num2=20

In [10]:
num1+num2

30

In [11]:
num2*num1

200

In [12]:
num2-num1

10

In [13]:
num1==num2

False

In [14]:
num1 !=num2

True

# whileloop

In [17]:
counter=0
while(counter<=10):
    print(counter)
    counter=counter+1
    print('End Of Loop')

0
End Of Loop
1
End Of Loop
2
End Of Loop
3
End Of Loop
4
End Of Loop
5
End Of Loop
6
End Of Loop
7
End Of Loop
8
End Of Loop
9
End Of Loop
10
End Of Loop

In [18]:
counter=0
while(counter<=10):
    print(counter)
    counter=counter+1
    
print('End of loop')

0
1
2
3
4
5
6
7
8
9
10
End of loop

# for loops

In [19]:
#range9start , stop ,step
# actual stop is n-1

In [66]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [21]:
for i in range(5):
    print(i)

0
1
2
3
4

In [23]:
for i in range(10,100,10):
    print(i)

10
20
30
40
50
60
70
80
90

In [26]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [29]:
sandeepr=('sandeepr')
for i in (sandeepr):
    print(i)

s
a
n
d
e
e
p
r

# law of large numbers

In [3]:
from numpy.random import randn

In [4]:
cnt=0

In [85]:
#sample_size=1000000           #10/100/1000
sample_size=100000

In [86]:
for i in range(sample_size): # important
    
    num=randn()
    if num>=-1 and num<=1:
        cnt+=1
        
percentage=cnt/sample_size*100
print('Percentage',percentage)

Percentage 1236.572

# List

In [7]:
mlist=[11,22,33,44,55,66,77,88,99]

In [8]:
mlist.type()

AttributeError: 'list' object has no attribute 'type'

In [9]:
type(mlist)

list

In [12]:
print("Dataype ", type(mlist))
print("Values ", mlist)
print("Num of Elements in List ", len(mlist))

Dataype  <class 'list'>
Values  [11, 22, 33, 44, 55, 66, 77, 88, 99]
Num of Elements in List  9

In [14]:
mlist[0]

11

In [15]:
for i in mlist:
    print(i)

11
22
33
44
55
66
77
88
99

In [19]:
mlist

[11, 22, 33, 44, 55, 66, 77, 88, 99]

In [20]:
mlist.append(5)

In [21]:
mlist

[11, 22, 33, 44, 55, 66, 77, 88, 99, 5]

In [23]:
mlist.sort()

In [24]:
mlist

[5, 11, 22, 33, 44, 55, 66, 77, 88, 99]

In [26]:
mlist.reverse()

In [27]:
mlist

[99, 88, 77, 66, 55, 44, 33, 22, 11, 5]

In [28]:
mlist.pop()

5

In [29]:
mlist

[99, 88, 77, 66, 55, 44, 33, 22, 11]

In [87]:
mlist.sort()

TypeError: '<' not supported between instances of 'list' and 'int'

In [32]:
mlist.append([111,122,222])

In [33]:
mlist

[11, 22, 33, 44, 55, 66, 77, 88, 99, [111, 122, 222]]

In [34]:
mlist.append(111,122,222)

TypeError: append() takes exactly one argument (3 given)

In [38]:
print(mlist[9])

[111, 122, 222]

In [39]:
print(mlist[9][1])

122

In [40]:
# list in range

In [88]:
list(range(10,100,2))

[10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

# tuple

In [42]:
mtuple=(11,22,33,44)

In [43]:
print(type(mtuple))

<class 'tuple'>

In [45]:
print("Value",mtuple)

Value (11, 22, 33, 44)

# dictionary

In [46]:
empDict = {"eid":100, "name":"Steven","salary":24000.69,"bonus":500}

In [47]:
print("Datatype", type(empDict))
print("Values ", empDict)
print("Only Keys ", empDict.keys())
print("Only values ", empDict.values())
print(empDict["name"])
print(empDict["bonus"])

Datatype <class 'dict'>
Values  {'eid': 100, 'name': 'Steven', 'salary': 24000.69, 'bonus': 500}
Only Keys  dict_keys(['eid', 'name', 'salary', 'bonus'])
Only values  dict_values([100, 'Steven', 24000.69, 500])
Steven
500

In [48]:
for i in empDict:
    print(i)

eid
name
salary
bonus

In [49]:


for i in empDict:
    print(i,empDict[i])

eid 100
name Steven
salary 24000.69
bonus 500

# slicing

In [89]:
letters=[2,3,4,5,6,7,8,9,]

In [90]:
letters[:]

[2, 3, 4, 5, 6, 7, 8, 9]

In [92]:
letters[2:] # stop is not included goes till end

[4, 5, 6, 7, 8, 9]

In [54]:
letters[:7]

[2, 3, 4, 5, 6, 7, 8]

In [94]:
letters[2:8:2] # [ start : stop : step]

[4, 6, 8]

In [59]:
letters[7:2:-2]

[9, 7, 5]

In [60]:
letters[-8:7]

[2, 3, 4, 5, 6, 7, 8]

In [61]:
name='sandeepr'

In [63]:
name[::-1]

'rpeednas'

In [65]:
import color.red

ModuleNotFoundError: No module named 'color'